/* ====================
        GENERAL
   ==================== */
body {
    box-sizing: border-box;
    background-color: lightgray;
}

/* ====================
        MAIN
   ==================== */
#mainContainer {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 20px #ffffff, -5px -5px 20px #8d8d8d;
    border-radius: 100%;
}

/*----------EJEMPLO USANDO BEFORE Y UN SOLO MAIN CONTAINER---------
#mainContainer::before{
    content:"";
    height: 350px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 5px 5px 20px #ffffff, inset -5px -5px 20px #8d8d8d;
    border-radius: 100%;
}*/

#innerContainer {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 5px 5px 20px #ffffff, inset -5px -5px 20px #8d8d8d;
    border-radius: 100%;
}

/* ====================
        ANALOG
   ==================== */


/* ====================
        DIGITAL
   ==================== */