/* ====================
        GENERAL
   ==================== */
body {
    box-sizing: border-box;
    background-color: lightgray;
}

/* ====================
        MAIN
   ==================== */
#mainContainer {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 20px #ffffff, -5px -5px 20px #8d8d8d;
    border-radius: 100%;
}

/*----------EJEMPLO USANDO BEFORE Y UN SOLO MAIN CONTAINER---------
#mainContainer::before{
    content:"";
    height: 350px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 5px 5px 20px #ffffff, inset -5px -5px 20px #8d8d8d;
    border-radius: 100%;
}*/

#innerContainer {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 5px 5px 20px #ffffff, inset -5px -5px 20px #8d8d8d;
    /*inset para borde interno*/
    border-radius: 100%;
}

/* ==============================
                ANALOG
   ============================== */
#center {
    /*---Ajustamos la posición al centro de los bloques del reloj*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    /*Para que esté sobre el resto del contenido*/
    /*---Estilo del círculo central*/
    background-color: #222;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: 2px solid lightgrey;
    /*Distinguir las manecillas del centro*/
}

/*========== HANDS ==========*/
#secsHand,
#minsHand,
#hoursHand {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -100%);
    border-radius: 15px;
    width: 2px;
}

/*Superponemos las agujas del reloj con zindex//Clock hands overlap*/
#secsHand {
    z-index: 5;
    height: 170px;
    background-color: red;
}

#minsHand {
    z-index: 3;
    width: 3px;
    height: 140px;
    background-color: #222;
}

#hoursHand {
    z-index: 2;
    width: 4px;
    height: 100px;
    background-color: #222;
}

/*========== MARKS ==========*/
#marks div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15px;
    width: 4px;
    background-color: #222;
    border-radius: 10px;
    z-index: 4;
}

#marks div:nth-child(1) {
    transform: rotate(30deg) translateY(-170px);
}

#marks div:nth-child(2) {
    transform: rotate(60deg) translateY(-170px);
}

/* ====================
        DIGITAL
   ==================== */